.main-section {
  min-height: calc(80vh - 10rem);
  width: 100%;
  padding: 4rem 10rem;
}

.pdt-details {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(2, minmax(300px, 1fr));
  column-gap: 2rem;
  grid-auto-rows: 600px;
}

.pdt-images {
  display: flex;
  flex-direction: column;

  img {
    border-radius: 5px;
    width: 100%;
    object-fit: cover;
  }
}

.big-img {
  height: 500px;
}

.small-images {
  margin-top: 1rem;
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  column-gap: 10px;
  grid-auto-rows: 80px;

  img {
    height: 100%;
  }
}

.pdt-decscription {
  display: flex;
  flex-direction: column;

  button {
    align-self: flex-start;
  }
}

@media screen and (max-width: 1200px) {
  .main-section {
    padding: 4rem 4rem;
  }
}

@media screen and (max-width: 992px) {
  .pdt-details {
    grid-template-columns: minmax(300px, 1fr);
    row-gap: 3rem;
  }
}

@media screen and (max-width: 768px) {
  .main-section {
    padding: 4rem 1rem;

    button {
      margin-bottom: 1rem;
    }
  }

  .pdt-details {
    row-gap: 2rem;
    grid-auto-rows: 480px;
  }

  .big-img {
    height: 400px;
  }

  .small-images {
    grid-auto-rows: 50px;
  }
}

// @media screen and (max-width: ) {
// }
