.breadcrumb {
  margin-top: 5.35rem;
  width: 100vw;
  min-height: 18vh;
  background-color: #eaded7;
  display: flex;
  align-items: center;

  h1 {
    margin-left: 4rem;
    color: #453227;
    a {
      text-decoration: none;
      color: #795744;
    }
  }
}

@media screen and (max-width: 992px) {
  .breadcrumb {
    margin-top: 3.5rem;
    h1 {
      margin-left: 2rem;
    }
  }
}
