* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
}

* > a {
  text-decoration: none;
}

html {
  overflow-x: hidden;
}

.capitalize {
  text-transform: capitalize;
}
